@primary-color: #333333;
@clear-color:#ffffff;
@secondary-color:#8841da;
@variation-color:#012179;
@body-font:'Lato', sans-serif;
@heading-font:'Oswald', sans-serif;
@font-base:18px;
.general-box-shadow(@color){
  box-shadow:0px 5px 15px 0px fade(@color,50%);
}


*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family:@body-font;
  color:@primary-color;
  line-height: @font-base + 10%;
}

h1,h2,h3{
  font-family:@heading-font;
  text-transform:uppercase;
  margin:0;
}